# Goodreads Books Data Analysis Notebook

In [1]:
import pandas as pd

## Books

In [2]:
books = pd.read_csv('Goodreads10KDataset\\books.csv')

In [3]:
books.keys()

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')

In [4]:
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

Max length in each column in books.csv (for SQL server database schema design)

In [26]:
for col in books.keys():
    maxLength = 0

    for row in books[col]:
        maxLength = max(maxLength, len(str(row)))

    print(f"{col}: {maxLength}")

book_id: 5
goodreads_book_id: 8
best_book_id: 8
work_id: 8
books_count: 4
isbn: 10
isbn13: 15
authors: 742
original_publication_year: 7
original_title: 196
title: 186
language_code: 5
average_rating: 4
ratings_count: 7
work_ratings_count: 7
work_text_reviews_count: 6
ratings_1: 6
ratings_2: 6
ratings_3: 6
ratings_4: 7
ratings_5: 7
image_url: 88
small_image_url: 86

## Book Tags

In [6]:
book_tags = pd.read_csv('Goodreads10KDataset\\book_tags.csv')

In [7]:
book_tags.keys()

Index(['goodreads_book_id', 'tag_id', 'count'], dtype='object')

In [8]:
book_tags.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

## Tags (mapping)

In [9]:
tags = pd.read_csv('Goodreads10KDataset\\tags.csv')

In [10]:
tags.keys()

Index(['tag_id', 'tag_name'], dtype='object')

In [11]:
tags.head()

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

## Book Ratings

In [12]:
book_ratings = pd.read_csv('Goodreads10KDataset\\ratings.csv')

In [13]:
book_ratings.keys()

Index(['user_id', 'book_id', 'rating'], dtype='object')

In [14]:
book_ratings.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

## Books To-Read Shelf

In [15]:
books_to_read = pd.read_csv('Goodreads10KDataset\\to_read.csv')

In [16]:
books_to_read.keys()

Index(['user_id', 'book_id'], dtype='object')

In [17]:
books_to_read.head()

   user_id  book_id
0        9        8
1       15      398
2       15      275
3       37     7173
4       34      380